.Article-li {
  overflow: hidden;
  transition: all 2s ease-out;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  animation: fade-in 2s ease-in;
}

.Article-image {
  background-size: cover;
  background-position: 50%;
}

.article {
  color: white;
  text-decoration: none;
  font-size: 7pt;
  display: inline-block;
  line-height: 1.1;
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
}

.article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  color: white;
}

.Article--shadow .article::after {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

.Article-image .article {
  opacity: 0.9;
  margin: 0;
  transition: background-color 1s;
}

.Article-image .article:hover {
  color: transparent !important;
  background-color: transparent !important;
  opacity: 1;
}

.Article-li:hover .article::after {
  content: attr(data-source);
  height: auto;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) 80%, transparent);
  padding: 5% 2% 2%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}