html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111;
}

.App-header {
  background-color: #222;
  min-height: 48px;
  padding: 1px;
  color: white;
  display: flex;
}

.App-title {
  font-size: 1em;
  margin: 10px 0 0 10px;
}

.App-title a {
  color: #FFF;
  text-decoration: none;
}

.App-intro {
  font-size: small;
  margin: 0 10px;
}

.App-intro a {
  color: lightblue;
}

.App-category-chooser {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.App-category-key {
  min-width: 80px;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.App-category-key input {
  vertical-align: sub;
}
