html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111;
}

.App-header {
  background-color: #222;
  min-height: 48px;
  color: white;
  display: flex;
}

.App-title {
  font-size: 1em;
  margin: 8px 0 0 10px;
}

.App-title a {
  color: #FFF;
  text-decoration: none;
}

.App-intro {
  font-size: small;
  margin: 0 10px;
}

.App-intro a {
  color: lightblue;
}

.App-category-chooser {
  text-align: right;
}

.App-category-key {
  font-size: 0.75em;
  font-weight: bold;
  padding: 8px 16px;
  height: 48px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  box-sizing: border-box;
}

.App-category-key input {
  display: none;
}

.App-shade {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.App-modal {
  box-sizing: border-box;
  width: 480px;
  max-width: 98%;
  padding: 16px;
  background-color: #222;
  margin: 80px auto 0;
  border-radius: 5px;
  border: 1px solid #686868;
  color: white;
}

.App-modal h1 {
  margin-top: 0.25em;
}

.App-formgroup {
  padding-left: 120px;
  position: relative;
  margin-bottom: 0.8em;
}

.App-modal label {
  position: absolute;
  max-width: 120px;
  margin-left: -120px;
}

.App-palette {
  transition: 0.5s all;
  padding: 2px 4px;
  outline: 1px solid transparent;
  display: inline-block;
}

.App-palette:hover {
  outline: 1px solid #686868;
}

.App-palettelabel {
  display: inline-block;
  width: 120px;
}

.App-swatch {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #686868;
  vertical-align: middle;
  margin: 1px;
}
