.Article-li {
  overflow: hidden;
  transition: all 2s ease-out;
}

.Article-image {
  background-size: cover;
  background-position: 50%;
}

.article {
  color: white;
  background-color: #222;
  padding: 3%;
  display: block;
  text-decoration: none;
  font-size: 7pt;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

.Article-image .article {
  opacity: 0.9;
  margin: 0;
  transition: background-color 1s;
}

.Article-image .article:hover {
  background-color: transparent !important;
  opacity: 1;
  text-shadow:
        0.07em 0 0.14em black,
        0 0.07em 0.14em black,
        -0.07em 0 0.14em black,
        0 -0.07em 0.14em black;
}

.article:hover::after {
  content: attr(data-source);
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 2%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.6);
}
